.nav {
    position: fixed;
    z-index: 999;
    /* modifying padding */
    padding-top: 12px;
}

.ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.li {
    display: table-cell;
    list-style: none;
    vertical-align: middle;
}

.a {
    text-decoration: none;
    color: #1e1e1e;
    font: 700 24px Chathura;
}

.img {
    max-height: 48px;
}