.nav {
    position: fixed;
    z-index: 100;
    /* modifying padding */
    padding-top: 12px;
    display: flex;
}

.ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.li {
    display: table-cell;
    list-style: none;
    vertical-align: middle;
}

.a {
    font: 24px Chathura;
    letter-spacing: 2px;
}

.img {
    max-height: 48px;
}
