.ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.li {
    margin-top: 8px;
    margin-right: 16px;
    padding: 5px 12px;
    border: 1px solid #1e1e1e;
    font: 12px WorkSans;
    letter-spacing: 2px;
    cursor: pointer;

    transition: background-color .3s ease;
}

.li:hover {
    background-color: #e7cdbe;
}

.active {
    background-color: #cca892;
}