.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
    min-height: 754px;
}

.reverse .imgContainer {
    grid-column: 5 / 8;
}

.reverse .imgContainer .img { height: 60%; }

.reverse .description {
    grid-column: 2 / 4;
}

.imgContainer {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    grid-column: 6 / 8;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.description h2 {
    font: 700 24px Lora;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 28px;
}

.description p {
    font: 14px WorkSans;
    line-height: 2;
    letter-spacing: 1px;
    word-break: keep-all;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 754px;
}

.logoContainer .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    height: 50%;
}

.logoContainer img {
    max-width: 100%;
    margin: 0 auto;
}

.logoContainer p {
    margin: 0 auto;
    width: 50%;
}

@media (max-width: 900px) {
    .container {
        height: auto;
    }

    .imgContainer {
        grid-column: 2 / 8;
        height: 700px;
        padding-top: 80px;
    }

    .img {
        height: 100%;
    }

    .reverse .imgContainer {
        grid-column: 2 / 8;
        height: 500px;
    }

    .reverse .imgContainer .img { height: 100%; }

    .reverse .description {
        grid-column: 2 / 8;
    }

    .description {
        margin: 40px 0;
        text-align: center;
        grid-column: 2 / 8;
    }

    .description h2 {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .imgContainer { height: calc(100vw + 200px); }
    .reverse .imgContainer { height: calc(80vw + 100px); }
    .description { margin: calc(6vw + 10px); }
    .description p { font-size: 12px; }
}