.container {
    background-color: #feebed;
}

.wrapper {
    margin: 0 auto;
    padding: 80px 0;
    width: calc(50vw + 420px);
}

.product_wrapper { padding-top: 40px; }

.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
}

@media (max-width: 1098px) {
    .wrapper { width: calc(40vw + 432px); }
}

@media (max-width: 818px) {
    .wrapper { width: 600px; }
}

@media (max-width: 690px) {
    .wrapper { width: 400px; }
}

@media (max-width: 518px) {
    .wrapper { width: 225px; }
    .ul { justify-content: center; }
}