.card{
    max-width: 225px;
    margin: 0 auto;
}

.box{ margin-bottom: 10px;}

.box img { transition: opacity .3s ease; }

.card:hover .box img { opacity: 0.5; }

.icon {
    max-height: 20px;
    cursor: pointer;
}

.icon:last-child { margin-left: 2px; }

.description { min-height: 72px; }
.product_description { min-height: 108px; }

.description p,
.product_description p {
    font: 12px WorkSans;
    color: #1e1e1e;
    line-height: 1.5;
    letter-spacing: 1px;
    word-break: keep-all;
}

.product_description p { line-height: 1.8; }

@media (max-width: 818px) {
    .card { max-width: 180px; }
}

@media (max-width: 518px) {
    .card { max-width: 225px; }
}