.box{
    max-width: 285px;
    margin: 0 auto;
}

.imgWrap { margin-bottom: 10px;}

.img { transition: opacity .3s ease; }

.img:hover { opacity: 0.5; }

.desc {
    min-height: 72px;
}

.a { text-decoration: none; }

.p {
    font: 12px WorkSans;
    color: #1e1e1e;
    line-height: 1.5;
    letter-spacing: 1px;
    word-break: keep-all;
}
