.container {
    padding: 32px 4vw;
    background-color: #feebed;
}

.ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1vw;
}

@media (max-width: 600px) {
    .container {
        padding: 32px 40px;
    }

    .ul {
        grid-template-columns: repeat(2, 1fr) !important;
        column-gap: 4vw;
    }
}

@media (max-width: 360px) {

    .ul {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}