.box {
    margin-bottom: 10px;
}

.icon {
    max-height: 20px;
    cursor: pointer;
}

.icon:last-child { margin-left: 2px; }

.desc {
    min-height: 96px;
}

.a {
    text-decoration: none;
}

.p {
    font: 12px WorkSans;
    color: #1e1e1e;
    line-height: 1.6;
    letter-spacing: 1px;
    word-break: keep-all;
}

/*@media (max-width: 450px) {*/
/*    .desc { margin-bottom: 20px;}*/
/*}*/